.notes {
	padding: 50px 0;

	--c-color: var(--key-red);
	--c-sharp-color: var(--key-black);
	--d-flat-color: var(--key-black);
	--d-color: var(--key-orange);
	--d-sharp-color: var(--key-black);
	--e-flat-color: var(--key-black);
	--e-color: var(--key-yellow);
	--f-color: var(--key-green);
	--f-sharp-color: var(--key-black);
	--g-flat-color: var(--key-black);
	--g-color: var(--key-blue);
	--g-sharp-color: var(--key-black);
	--a-flat-color: var(--key-black);
	--a-color: var(--key-indigo);
	--a-sharp-color: var(--key-black);
	--b-flat-color: var(--key-black);
	--b-color: var(--key-violet);
	
}

.measure {
	display: inline-block;
	border-left: 2px solid silver;
	border-right: 2px solid silver;
	margin-left: -2px;
	padding: 0 20px;
	margin-bottom: 50px;
}

.note {
	display: inline-block;
	vertical-align: bottom;
	margin-top: 50px;
	min-width: 50px;
	position: relative;
	text-align: center;
}

.dot {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 50px;
	border-radius: 25px;
	text-align: center;
	color: #eee;
	background-color: currentColor;
	border: color-mix(in lab, currentColor, #000 30%) 2px solid;
}

.pitch {
	color: black;
	line-height: 48px;
}

.dot[data-pitch="c"] {
	color: var(--c-color)
}
.dot[data-pitch="c#"] {
	color: var(--c-sharp-color)
}
.dot[data-pitch="db"] {
	color: var(--d-flat-color)
}
.dot[data-pitch="d"] {
	color: var(--d-color)
}
.dot[data-pitch="d#"] {
	color: var(--d-sharp-color)
}
.dot[data-pitch="eb"] {
	color: var(--e-flat-color)
}
.dot[data-pitch="e"] {
	color: var(--e-color)
}
.dot[data-pitch="f"] {
	color: var(--f-color)
}
.dot[data-pitch="f#"] {
	color: var(--f-sharp-color)
}
.dot[data-pitch="gb"] {
	color: var(--g-flat-color)
}
.dot[data-pitch="g"] {
	color: var(--g-color)
}
.dot[data-pitch="g#"] {
	color: var(--g-sharp-color)
}
.dot[data-pitch="ab"] {
	color: var(--a-flat-color)
}
.dot[data-pitch="a"] {
	color: var(--a-color)
}
.dot[data-pitch="a#"] {
	color: var(--a-sharp-color)
}
.dot[data-pitch="bb"] {
	color: var(--b-flat-color)
}
.dot[data-pitch="b"] {
	color: var(--b-color)
}
