.notes {
}
.note {
	display: inline-block;
	vertical-align: bottom;
	margin-top: 100px;
	min-width: calc(attr(data-duration) * 50px);
	position: relative;
	text-align: center;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	margin-left: -1px
}

.note::before {
	content: attr(data-note);
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 20px;
	line-height: 30px;
	text-align: center;
	border: 1px solid black;
}


.note.c::before {
	background-color: #f43737;
}
.note.d::before {
	background-color: #ffaa00;
}
.note.e::before {
	background-color: #ffea00;
}
.note.f::before {
	background-color: #00c403;
}
.note.g::before {
	background-color: #66deff;
}
.note.a::before {
	background-color: #3366ff;
}
.note.b::before {
	background-color: #6666ff;
}
